.dark-snow-bg::before {
  content: '';
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);

  width: 500px;
  height: 500px;

  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.18) 0%,
    rgba(255, 255, 255, 0.08) 25%,
    rgba(255, 255, 255, 0.02) 45%,
    transparent 70%
  );

  filter: blur(0.6px);
  pointer-events: none;
}

.dark-snow-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* snow balls  */
.snow {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(
    white 1px,
    transparent 1px
  );
  background-size: 90px 90px;
  opacity: 0.15;
}

/* snow layers animation  */
.layer1 {
  animation: snow-fall 60s linear infinite;
}

.layer2 {
  background-size: 90px 90px;
  opacity: 0.1;
  animation: snow-fall 90s linear infinite;
}

.layer3 {
  background-size: 180px 180px;
  opacity: 0.07;
  animation: snow-fall 120s linear infinite;
}

@keyframes snow-fall {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 1000px;
  }
}
